<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">ToDoApp</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a href="http://localhost:8080/index">
                        <img th:src="@{/images/gohome.png}" alt="GoHome" width="20">
                    </a>
                    <a class="nav-item nav-link" th:href="@{/tasks}">Задания по статусам</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/alltasks}">Все задания</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/completedtasks}">Выполненные задания</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/newtasks}">Новые задания</a>
                </div>
            </div>
        </div>
    </nav>
</div>